trees/metadata used for development
data/

# NodeJS file used for chrome headless QUnit tests
node_modules/

# Templated filed created when running empress-tree.py
test_init.html

# Python Byte code folder
empress/__pycache__/