.gradient-bar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 5vh;
}
.gradient-color {
    background: linear-gradient(to right, #ff0000, #00ff00);
}
.switch-button-container {
    position: absolute;
    top: 0vh;
    left: 0vw;
}
#switch-btn {
    position: absolute;
    top: 0vh;
    left: 0vw;
}

canvas {
    /*width: 66vw;
    height: 75vh;*/
    width: 100vw;
    height: 100vh;
}

.tree-surface {
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vw;
}

/* referenced from  https://webglfundamentals.org/webgl/lessons/webgl-text-html.html*/
.container {
    position: absolute;
    top: 0vh;
    left: 0vw;
    overflow: none;
    /*width: 66vw;
    height: 75vh;*/
    width: 100vw;
    height: 100vh;
}

#dvicontainer {
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
}

.floating-div {
    position: absolute;
}
/* end of reference */

.metadata-tabs {
    background: #fff;
    position: fixed;
    top: 0vh;
    left: 70vw;
    width: 30vw;
    /*opacity: 0.5;*/
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .collapsible:hover {
    background-color: #555;

}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.tab-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    height: unset;
    background: grey;
}

.attr {
    grid-area: attr;
}

.btn {
    grid-area: btn;
}
.attr-selector {
    overflow: auto;
    width: 32vw;
    height: 50vh;
}

.attr-item {
    display: grid;
    grid-template-areas:
        'btn btn .'
        '. attr attr';
    border: 3px solid black;
    padding-top: 4px;
}

.clr {
    grid-area: clr;
}

.cld {
    grid-area: cld;
}

.color-item {
    display: grid;
    grid-template-areas:
        'cld cld .'
        'clr . .';
    border: 3px solid black;
    padding-top: 4px;
}

.menu {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.square {
    position: absolute;
    height: 0px;
    width: 0px;
    background-color: #555;
    opacity: 0.5;
}

.selected-tree-menu {
    position: absolute;
    visibility: hidden;
}

#label-dropbox {
    display: grid;
    grid-template-columns: 1fr;
}

#toggle-pages {
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 12px;
    width: 60;
    border: 2px sold black;
}