/* Reset taken from:;
   https://github.com/ireade/holy-grail-css-grid/blob/gh-pages/style.css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/*empress styling */
*{box-sizing: border-box;}


canvas {
    width: 66vw;
    height: 75vh;
}

.tree-surface {
    position: fixed;
    top: 0vh;
    left: 0vw;
}

.text-surface {
    position: fixed;
    background-color: transparent;
    top: 0vh;
    left: 0vw;
    z-index: 10;
}

.metadata-tabs {
    background: #eee;
    position: fixed;
    top: 0vh;
    left: 66vw;
    width: 34vw;
}

.metadata-tabs button {
    background-color: #eee;
    float: left;
    border-style: none solid none solid;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.metadata-tabs button:hover {
    background-color: #ddd;
}

.metadata-tabs button:active {
    background-color: #000;
}

.tab-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    height: unset;
    background: grey;
}

.text-field {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto;
}

.attr {
    grid-area: attr;
}
.attr-selector {
    overflow: auto;
    width: 32vw;
    height: 50vh;
}

.attr-item {
    display: grid;
    grid-template-areas:
        '. . .'
        '. attr attr';
    border: 3px solid black;
    padding-top: 4px;
}

.menu {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#scrolltable {
    position: absolute;
    overflow: auto;
    top: 75vh;
    left: 0vw;
    width: 100vw;
    height: 25vh;
}

#scrolltable tr:nth-child(even) {
    background: #EEE;
}

#scrolltable th div {
    position: absolute;
    margin-top: -20px;
}

table, th , td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}